main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spazia le colonne */
    gap: 20px; /* Spaziatura tra le colonne */
    padding: 20px;
}
body {
    background-color: #2C2734;
    margin: 0;
    padding: 0;
}

header{
    color: white;
}

/* Section contenuto principale (query + knowledge graph) */
#graph-section {
    flex: 2;
    background-color: #dcade8;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#graph-info-section{
    flex: 2;
    background-color: #dcade8;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#aside-content {
    flex: 1; 
    background-color: #E0BBE4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #7656A9;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #9971db;
    border-color: #9971db;
}


footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}

#mynetwork {
    width: 100%;
    height: 500px;
    border: 1px solid lightgray;
}